/* 
    Document   : netpad
    Created on : 20-giu-2011, 17.53.05
    Author     : miche
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.netpad-editor{
    border-color: black; 
    background-color: #444;
}

.netpad-editor:focus {
    border-color: orange;
}

.np_cursor{
    background-color: white;
}

.current-line {
    background: yellow;
}

.line-number {
    border-right: 1px solid black;    
    background: #FFF;
}

.left-bar {
    background-color: #EEE;
    border-right:    1px solid black;
    position: absolute;
    float: left;
}

.text-layer {
    color: #DDD;
}

.line-id {
    background-color: #EEE;
    border-right:    1px solid black;
}

/*  ------ Markup dei linguaggi  ------ */

.token {
    color: blue;
}

.function {
    overflow: hidden;
}

.keyword{
    color: darkblue;
}

.string{
    color: green;
}
