@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

h1 {
	font-family: 'Press Start 2P', cursive, monospace;
	font-size: 10pt;
	color: rgb(255,102,0);
	width: 100%;
	text-align:center;
}

p {
	font-size: 15pt;
	font-family: monospace;
	border-bottom: 1px solid rgb(255, 102, 0);
	padding: 0px 0px 40px 0px;
}