/* 
    Document   : javascript
    Created on : 24-feb-2012, 18.46.14
    Author     : miche
    Description:
        Purpose of the stylesheet follows.
*/

.text-layer {
    /* color: white; */
}

.np_reserved {
    color: rgb(150,150,255);
}

.np_literal{
    color: rgb(50,200,50);
}

.np_FUNCTION {
    font-weight: bold;
}

.np_STRING {
    color : orange;
}

.IF_STAT .SWITCH_STAT .ELSE_STAT .FOR_STAT .WHILE_COM .BREAK_COM .THROW_COM .NEW_COM {
    color: #F28;
}