/* 
    Document   : netpad
    Created on : 20-giu-2011, 17.53.05
    Author     : Michele Carignani
    Description: 
        
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


@import url("light-theme.css");
@import url("javascript.css");

span {
    display: inline;
}

.netpad-editor{
    font-family: monospace ;
    font-size: 14px;
    position: relative;
    float: left;
    overflow : hidden;
    margin-left: 20px;
    margin-right: auto;
    width: 80%;
    height: 500px;
    text-align: left;
}

.scroller {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.np_cursor{
    margin: 0px;
    /* border: 0px solid black; */
    width: 2px;
    position: absolute;
    left: 0px;
    margin-left: 5px;
    
    /*
    -moz-animation-duration: 700ms;  
    -moz-animation-name: hide-cursor;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;
    */
}

@-moz-keyframes hide-cursor {  
    from {  
        opacity: 1.0;
    }  
      
    to {  
      opacity: 0.0;
    }  
  }  

.line {
    width: 100%;
    float: left;
    display:block;
    border:1px solid #000;
}

.line-content {
    /* border-bottom: 1px solid #777; */
}

.current-line {
    background: yellow;
}


.left-bar {
    height: 100%;
    position: absolute;
    float: left;
    text-align: right;
    padding-left:3px;
    margin-right: 25px;
    /* display: block; */
}

.line-id {
    float: right;
    padding: 0px 6px 0px 0px;
    width: 100%;
    height: 17.263px;
}

.text-layer, .cursor-layer {
    float: left;
    display: block;
    position: relative;
    min-height: 100%;
    padding-left: 3px;
    overflow: hidden;
}

.text-layer {
    position: relative;
    width: 100%;
}

.line-content {
     min-height: 16px;
}

.cursor-layer {
    position: absolute;
    background: transparent;
}

#measure-node {
    visibility: hidden;
    position : absolute;
    overflow: visible;
    white-space: nowrap;
    width: auto;
    height: auto;
    font-family: monospace ;
    font-size: 14px;
    /* top: -40000px; */
    /* @todo parametrizzare ? */
}

form {
    display: none;
}

/********************************
    CONTROLS BUTTON
*********************************/

.controls {
    position:absolute;
    background-color: rgb(190,190,255) transparent;
    left: 95%;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    font-size: 30pt;
    font-family: serif;
}    
.controls:hover {
    background-color: rgb(190,190,255);
}

/**************************************
    LISTBOX
**************************************/

#selected {
    background: rgba(0, 50, 255, 0.5);
    color: white;
}

#np_listbox {
    display:none; 
    position:absolute; 
    border :1px solid black;
    width: 150px;
    padding: 2px;
/*     height: 70px;
    @todo fissare l'altezza e inserire lo scroll
*/
}

a.np_listbox_item {
    text-decoration: none;
    color: black;
    width:100%; 
    float:left;
}
